body {
   background-color: #BCBCBC;
   font-family: 'Quicksand', sans-serif;
}

.ui.segment {
   padding: 0;
}

/* NAVBAR */

#navbar {
   height: 4.5em;
   background-color: #2D363B;
   font-family: 'Quicksand', sans-serif;
}

#navbar-item {
   color: white;
   margin-left: 0px;
}

#navbar-item:hover {
   background-color: #4C565D;
}

#navbar-item.active.item {
   background-color: #4C565D;
}

/* GAME INFO */

#left-column {
   padding-left: 5em;
   height: 70em;
}

/* PlAY BY PLAY */

#play-by-play {
   background-color: black;
   color: white;
   font-weight: bold;
   height: 3em;
   text-align: center;
   padding-top: 1em;
   font-size: 1.5em;
   border-radius: 3px;
}

#play {
   border-bottom: 1px solid rgb(206, 196, 196);
   float: left;
   width: 100%;
   height: 100%;
}

#play:hover {
   background-image: linear-gradient(white, #FFFAEC);
}

#play-image {
   float: left;
   width: 20%
}

#play-image img {
   border-radius: 100%;
}

#play-info {
   float: left;
   width: 60%;
   margin-top: 0.5em;
}
#play-desc {
   font-weight: bold;
}

#play-score {
   float: left;
   width: 20%;
   margin-top: 2em;
   text-align: center;
   font-weight: bold;
}

/* STATS */

#stats {
   background-color: black;
   color: white;
   font-weight: bold;
   height: 3em;
   text-align: center;
   padding-top: 1em;
   font-size: 1.5em;
   border-radius: 3px;
}

/* SCORING */

#right-column {
   height: 70em;
   padding-right: 5em;
}

#your-scoring {
   background-color: black;
   color: white;
   font-weight: bold;
   height: 3em;
   text-align: center;
   padding-top: 1em;
   font-size: 1.5em;
   border-radius: 3px;
}

#games-menu {
   font-family: 'Quicksand', sans-serif;
   height: 1em;
   margin: 0;
}

#this-game-item {
   color: #91B46E;
   font-weight: bold;
}

#all-games-item:hover {
   color: #91B46E;
   font-weight: bold;
}

#games-menu-divider {
   margin: 0;
}

